.home  {
	 width: 192rem;
	 height: 100vh;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: space-between;
}

.home header, .home footer {
	width: 100%;
	height: 10rem;
	text-align: center;
	font-size: 2rem;
}

.home h1 {
	font-size: 4rem;
}

.home h2 {
	font-size: 3rem;
	margin: 0;
}

.home p {
	font-size: 2rem;
	margin: 0;
}

.home section {
	width: 150rem;
	height: 80rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.home a {
	width: 50rem;
	background-color: #c7c7c7;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding: 1rem 0 1rem 2rem;
	border: solid white;

	&:hover {
		border: solid black;
	}
}